<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>生徒会執行部</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

    <div id="app">
        <v-app>
            <v-content style="background-color:#ffffff">
                <v-app-bar style="background-color:#454648" flat>
                    <v-toolbar-title style="color:#ffffff">生徒会執行部</v-toolbar-title>
                </v-app-bar>
                <v-container v-if="!loggedin">

                    <div style="margin: 30px;" class="d-flex flex-row mx-20 justify-center">
                        <v-text-field @keyup.enter="login" v-model="password"
                            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :type="show1 ? 'text' : 'password'"
                            label="パスワード" counter @click:append="show1 = !show1" class="shrink"
                            :error-messages="errormsg"></v-text-field>
                        <v-btn style="margin: 60px;" outlined rounded class="ma-2" @click="login" color="#00E676" dark>
                            login
                            <v-icon right>mdi-check-bold</v-icon>
                        </v-btn>
                    </div>
                    <!-- <div class="d-flex flex-row mb-6 justify-center" v-if="errormsg.length != 0">{{errormsg}}
                    </div> -->

                </v-container>
                <v-container v-else>
                    <!--個人情報と要望を含むカードを生成し、カードを新しく投稿された順にソートする-->
                    <v-card class="mx-auto" max-width="500" style="margin: 30px;" shaped
                        v-for="(s,i) in items.slice().reverse()" :key="i">
                        <v-list-item three-line>
                            <v-list-item-content>
                                <!--返信が完了すると"返信済みです"と表示される-->
                                <v-list-item-subtitle style="margin-bottom:10px;color:#00E676;" v-if="s.replied">
                                    <v-icon color="#00E676">mdi-check</v-icon>{{"返信済みです"}}
                                </v-list-item-subtitle>

                                <div class="d-flex">
                                    <!--名前が定義されていたら名前を表示、名前が定義されていなかったら匿名を表示-->
                                    <v-list-item-title-bold class="headline mb-1 shrink" style="margin-right: 20px;">
                                        {{s.name || "匿名"}}
                                    </v-list-item-title-bold>

                                    <!--名前が定義されていたら学年クラス番号を表示-->
                                    <div class="font-weight align-self-center" v-if="s.name">
                                        {{s.gakunen}}{{s.class}}組{{s.number}}番
                                    </div>
                                </div>
                                <!--要望を表示-->
                                <v-list-item-subtitle>{{s.suggestion}}</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>

                        <v-card-actions style="margin:5px;">
                            <!--"タイムラインに投稿"か"個人に返信"へのメッセージを入力するテキストフィールド-->
                            <!--v-model="messages[i]"の部分で返信する内容を保存している-->
                            <v-text-field v-model="messages[i]" :label="s.reply + 'へのメッセージ'" required>
                            </v-text-field>
                            <!--送信ボタンを押したときに返信する内容とreply関数の引数を渡している-->
                            <v-btn style="margin:10px;" color="#00E676" outlined rounded
                                @click="reply(i,s.userId,messages[i],s.uuid)" :disabled="btn_disable">送信
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="./index.js"></script>
</body>

</html>